* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
}

.container {
    width: 100%;
    min-height: 100%;
}

.menu {
    height: 100%;
    position: fixed;
    width: 250px;
    background-color: #2c3e50;
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    width: 100%;
    height: calc(100% / 5);
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-left: 25px solid transparent;
}

.menu a.active {
    background-color: #34495e;
    border-left: 25px solid #3498db;
}

.menu .menu-item:hover{
    background-color: #34495e;
    transition: all 500ms ease-in-out;
    border-left: 25px solid #3498db;
}

.menu a i {
    margin-right: 5px;
}

.content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 25px;
    background-color: #FFF;
}

.content p{
    text-align: justify;
    line-height: 20px;
}


h2, h3 {
    margin-top: 25px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.posts .post-card {
    width: 50%;
    padding: 25px;
    /* margin-right: 15px; */
}

.posts .post-card .post-cover img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.read-more-btn{
    display: block;
    margin: 0 auto;
    background-color: #2c3e50;
    text-decoration: none;
    width: 100px;
    margin-top: 20px;
    color: white;
}

.post-info{
    margin-top: 20px;
}

h3 {
    margin-bottom: 25px;
    text-align: center;
}

.login {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 10px #bdc3c7;
}

.login-form {
    width: 50%;
    background-color: #FFF;
    height: inherit;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.fields {
    width: 100%;
}

.fields > p {
    text-align: center;
    font: 16px;
    margin-top: 20px;
}

.login-form .field-block label {
    margin-bottom: 5%;
    text-align: center;
}

.login-form .field-block input {
    margin-bottom: 5%;
}

.field-block label{
    display: block;
    font-weight: 900;
    font-size: 18px;
}

.field-block input, .field-block textarea {
    display: block;
    border: 1px solid #95a5a6;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.message-form .field-block input, .message-form .field-block textarea {
    margin-bottom: 20px;
}

.social-logins {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn.social-btn.fb, .btn.social-btn.twitter {
    width: 48%;
    text-align: left;
    font-size: 14px;
    padding: 15px 12px;

}

.fb {
    background-color: #3B5998;
}

.twitter {
    background-color: #55ACEE;
}

.login-image {
    width: 50%;
    background-image: url('../img/imglogin1.jpg');
    background-size: cover;
    background-position: center;
    height: inherit;
    border-radius: 0 5px 5px 0;
}

.login-image p {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}

.login-form-actions {
    display: flex;
    justify-content: space-between;
}

.remember-block {
    font-size: 14px;
}

.remember-block input {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.btn {
    cursor: pointer;
    padding: 15px;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
}

.social-share-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #2c3e50;
}

.blog-post-footer{
    width: 800px;
    margin: 0 auto;
}

.login-button {
    background-color: #2c3e50;
}

.btn-register{
    margin-top: 20px;
}

.message-button {
    background-color: #3498db;
    display: block;
    margin: 0 auto;
}

.blog-post-autor-photo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.blog-post-header{
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blog-post-info{
    display: flex;
    align-items: center;
}

.blog-post-cover{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 20px;
}

.blog-post{
    width: 800px;
    margin: 0 auto;
    line-height: 26px;
    text-align: justify;
}

.blog-post img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.blog-post img, .blog-post p{
    margin-bottom: 20px;
}

.register-form .input-style{
    border: 1px black solid;
}

.name-register{
    max-height: 45%;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.name-register label{
    margin-right: 20px;
    margin-left: 20px;
}

.menu-logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
}

.menu .menu-logo{
    font-weight: 900;
    border-left: 0px;
    background-color: #1B1464;
}

.blog-post-actions{
    display: flex;
    justify-content: space-between;
}

.blog-post-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.blog-post-tags p{
    margin-right: 10px;
}

.blog-post-tags a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #2c3e50;
    border-radius: 3px;
}

.blog-post-actions button{
    background-color: #2c3e50;
}

.blog-post-info *{
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .login-image {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}